# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env

# Mac system files
.DS_Store

# Temporary files
*.tmp
*.swp

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.bak
*.orig
*.patch